* {
    box-sizing: border-box;
    margin: 0;
}

.container .login_group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .login_section {
    width: 700px;
    height: auto;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .signup_section {
    width: 900px;
    height: auto;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec-1x {
    margin-top: 5%;
    display: flex;
    justify-content: start;
}

.sec-1x .sec-inner-1x {
    width: 20%;
}

.sec-1x .sec-inner-2x {
    margin-left: 10%;
    width: 70%;
}

.sec-inner-2x .student-list {
   width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 8px;
    text-decoration: none;
    margin-bottom: 30px;
    color: grey;
}